<div class="jumbotron text-dark bg-light p-4 text-center card event-details-card">
  <h2 class="card-header"> Event </h2>
  <h3 class="event pt-3">
    <%= @event.name %>
  </h3>
  <p> 
    Created at:- 
    <%= @event.created_at.strftime("%d-%m-%y") %>
  </p>
  <p> 
    Last Updated at:- 
    <%= @event.updated_at.strftime("%d-%m-%y") %>
  </p>
</div>
  <hr/>
  <%= render 'tasks/index' %>