<div class="jumbotron text-dark bg-light p-4 text-center">
  <h2 class="card-header"> Event </h2>
  <h3 class="event pt-3">
    <%= @event.name %>
  </h3>
  <hr class="my-4">
  <p>
    <b><u> 
    Description:
    </u></b>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took. 
  </p>
  <p class="lead">
    <%= link_to 'Edit', edit_event_path(@event),class:"btn btn-primary" %> &nbsp;&nbsp;&nbsp;
    <%= link_to 'Back', events_path,class:"btn btn-primary" %>
  </p>
</div>