// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$screen-size: 1400px;
html {
  font-size: 20px;
}
.container {
  position: relative;
  max-width: $screen-size;
  margin: 0 auto;
  margin-top: 100px;
}
// Navbar Section
.navbar {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid;
}
.navbar-container {
  margin: 0 auto;
  max-width: $screen-size;
}
.navbar-logo {
  width: 55px;
}
.navbar-nav {
  margin-right: 5rem;
  padding: 0.5rem 0;
  margin-left: auto;
}
.nav-item {
  margin: 0 1rem;
}
// Form Card Login/SignUp
.card {
  // width: 80%;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 25px;
  text-align: center;
  background-color: gainsboro;
}
@media only screen and (max-width: 767px) {
  .navbar {
    text-align: center;
  }
  .navbar-logo {
    width: 70px;
  }
  .navbar-nav {
    margin: 0;
    padding: 0;
    border-bottom: 2px solid white;
  }
  .nav-item {
    margin: 0;
    padding: 10px 0px;
    border-top: 1px solid whitesmoke;
  }
  .card {
    width: 100%;
  }
}
